<link rel="stylesheet" href="../style.css">

<style>
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>

<div class="info-habilidades">
    <h2>Habilidades</h2>
    <ul class="lista-habilidades">
        <li>HTML, CSS e JavaScript</li>
        <li>Design Responsivo</li>
        <li>Figma</li>
        <br>
        <li>Trabalho de Equipe</li>
        <li>Gestao de Tempo</li>
        <li>Proatividade</li>
    </ul>
</div>
