<h2>Sobre Mim</h2>
        <p>Sou estudante de ADS e estou no 2º período. Tenho interesse em desenvolvimento Front-end
            e pela arte de criar interfaces que conectam produtos com usuários. Estou sempre buscando
            alimentar meu conhecimento e crescimento. No momento estou em busca de uma oportunidade
            de estágio na área de desenvolvimento de software.
            <br><br>
            <strong>Telefone:</strong> (81) 98170-4809 <br>
            <strong>Email:</strong> vanessa.trezenap@gmail.com <br>
            <strong>Endereço:</strong> Recife, PE <br>
        </p>

        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.476605605718!2d-34.88856532544185!3d-8.052768680442728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18eb690e13b9%3A0x6a989ca275794481!2sAv.%20Visc.%20de%20Suassuna%20-%20Santo%20Amaro%2C%20Recife%20-%20PE%2C%2050050-540!5e0!3m2!1sen!2sbr!4v1743632030799!5m2!1sen!2sbr"
        width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <br>

        <h2>Saiba mais</h2>
        <p>
            <a href="../components/experiencia.html">Experiência</a> |
            <a href="../components/formacao.html">Formação Acadêmica</a> |
            <a href="../components/habilidades.html">Habilidades</a>
        </p>

    <br>